.Dashboard {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 100%;

  .ant-picker {
    width: fit-content;
  }

  .dashboard-header {
    width: 100%;
    font-weight: bold;
    font-size: 36px;
  }
}
